ekf_filter_node:
  ros__parameters:
    frequency: 50.0
    sensor_timeout: 0.2
    two_d_mode: true

    map_frame: map
    odom_frame: odom
    base_link_frame: base_link
    world_frame: odom
    publish_tf: true

    odom0: /rf2o/odom
    odom0_config: [true,  true,  false,
                   false, false, true,
                   true,  true,  false,
                   false, false, true,
                   false, false, false]
    odom0_queue_size: 10
    odom0_differential: false
    odom0_relative: false

    imu0: /imu/data_raw
    imu0_config: [false, false, false,
                  false, false, true,
                  false, false, false,
                  true,  true,  true,
                  false, false, false]
    imu0_queue_size: 50
    imu0_remove_gravitational_acceleration: true
